<div class="header-topbar">
    <div class="wrapper d-flex">
        <div class="page-brand">
            <a class="link" routerLink="/index">
                <span class="brand">Admin
                    <span class="brand-tip">Ca</span>
                </span>
            </a>
        </div>
        <div class="d-flex justify-content-between align-items-center flex-1">
            <!-- START TOP-LEFT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <li>
                    <a class="nav-link sidebar-toggler js-sidebar-toggler" href="javascript:;">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </li>
                <li>
                    <a class="nav-link search-toggler js-search-toggler"><i class="ti-search"></i>
                        <span>Search here...</span>
                    </a>
                </li>
            </ul>
            <!-- END TOP-LEFT TOOLBAR-->
            <!-- START TOP-RIGHT TOOLBAR-->
            <ul class="nav navbar-toolbar">
                <!-- <li class="timeout-toggler">
                    <a class="nav-link toolbar-icon" data-toggle="modal" data-target="#session-dialog" href="javascript:;"><i class="ti-alarm-clock timeout-toggler-icon rel"><span class="notify-signal"></span></i></a>
                </li>
                <li class="dropdown dropdown-inbox">
                    <a class="nav-link dropdown-toggle toolbar-icon" data-toggle="dropdown" href="javascript:;"><i class="ti-email"></i>
                        <span class="envelope-badge">7</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                        <div class="dropdown-arrow"></div>
                        <div class="dropdown-header text-center">
                            <div>
                                <span class="font-18"><strong>7 New</strong> Messages</span>
                            </div>
                            <a class="text-muted font-13" href="javascript:;">view all</a>
                        </div>
                        <div class="p-3">
                            <div class="media-list media-list-divider scroller" data-height="350px" data-color="#71808f">
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u8.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">Lynn Weaver<small class="text-muted float-right">Just now</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                        <div class="font-13 mt-1">
                                            <span class="d-inline-flex align-items-center text-primary"><i class="ti-support mr-2"></i>Support</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u6.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Connor Perez<small class="text-muted float-right">18 mins</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                        <div class="font-13 mt-1">
                                            <span class="d-inline-flex align-items-center text-success mr-3"><i class="ti-lock mr-2"></i>Security</span>
                                            <span class="d-inline-flex align-items-center text-pink"><i class="ti-credit-card mr-2"></i>Payment</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u11.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Tyrone Carroll<small class="text-muted float-right">42 mins</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u10.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Stella Obrien<small class="text-muted float-right">1 hrs</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                        <div class="font-13 mt-1">
                                            <span class="d-inline-flex align-items-center text-purple"><i class="ti-settings mr-2"></i>Technical</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u2.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Becky Brooks<small class="text-muted float-right">3 hrs</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u5.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Bob Gonzalez<small class="text-muted float-right">3 hrs</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                        <div class="font-13 mt-1">
                                            <span class="d-inline-flex align-items-center text-primary mr-3"><i class="ti-support mr-2"></i>Support</span>
                                            <span class="d-inline-flex align-items-center text-pink"><i class="ti-shopping-cart mr-2"></i>Shopping</span>
                                        </div>
                                    </div>
                                </a>
                                <a class="media p-3">
                                    <div class="media-img">
                                        <img class="img-circle" src="./assets/img/users/u9.jpg" alt="image" />
                                    </div>
                                    <div class="media-body">
                                        <div class="font-strong">Tammy Newman<small class="text-muted float-right">3 hrs</small></div>
                                        <div class="font-13 text-muted">Your proposal interested me.</div>
                                        <div class="font-13 mt-1">
                                            <span class="d-inline-flex align-items-center text-primary"><i class="ti-ticket mr-2"></i>Client Support</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown dropdown-notification">
                    <a class="nav-link dropdown-toggle toolbar-icon" data-toggle="dropdown" href="javascript:;"><i class="ti-bell rel"><span class="notify-signal"></span></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                        <div class="dropdown-arrow"></div>
                        <div class="dropdown-header text-center">
                            <div>
                                <span class="font-18"><strong>14 New</strong> Notifications</span>
                            </div>
                            <a class="text-muted font-13" href="javascript:;">view all</a>
                        </div>
                        <div class="p-3">
                            <ul class="timeline scroller" data-height="320px">
                                <li class="timeline-item"><i class="ti-check timeline-icon"></i>2 Issue fixed<small class="float-right text-muted ml-2 nowrap">Just now</small></li>
                                <li class="timeline-item"><i class="ti-announcement timeline-icon"></i>
                                    <span>7 new feedback
                                        <span class="badge badge-warning badge-pill ml-2">important</span>
                                    </span><small class="float-right text-muted">5 mins</small></li>
                                <li class="timeline-item"><i class="ti-truck timeline-icon"></i>25 new orders sent<small class="float-right text-muted ml-2 nowrap">24 mins</small></li>
                                <li class="timeline-item"><i class="ti-shopping-cart timeline-icon"></i>12 New orders<small class="float-right text-muted ml-2 nowrap">45 mins</small></li>
                                <li class="timeline-item"><i class="ti-user timeline-icon"></i>18 new users registered<small class="float-right text-muted ml-2 nowrap">1 hrs</small></li>
                                <li class="timeline-item"><i class="ti-harddrives timeline-icon"></i>
                                    <span>Server Error
                                        <span class="badge badge-success badge-pill ml-2">resolved</span>
                                    </span><small class="float-right text-muted">2 hrs</small></li>
                                <li class="timeline-item"><i class="ti-info-alt timeline-icon"></i>
                                    <span>System Warning
                                        <a class="text-purple ml-2">Check</a>
                                    </span><small class="float-right text-muted ml-2 nowrap">12:07</small></li>
                                <li class="timeline-item"><i class="fa fa-file-excel-o timeline-icon"></i>The invoice is ready<small class="float-right text-muted ml-2 nowrap">12:30</small></li>
                                <li class="timeline-item"><i class="ti-shopping-cart timeline-icon"></i>5 New Orders<small class="float-right text-muted ml-2 nowrap">13:45</small></li>
                                <li class="timeline-item"><i class="ti-arrow-circle-up timeline-icon"></i>Production server up<small class="float-right text-muted ml-2 nowrap">1 days ago</small></li>
                                <li class="timeline-item"><i class="ti-harddrives timeline-icon"></i>Server overloaded 91%<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                                <li class="timeline-item"><i class="ti-info-alt timeline-icon"></i>Server error<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                            </ul>
                        </div>
                    </div>
                </li> -->
                <li class="dropdown dropdown-user">
                    <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                        <span>Super User</span>
                        <img src="./assets/img/users/admin-image.png" alt="image" />
                    </a>
                    <div class="dropdown-menu dropdown-arrow dropdown-menu-right admin-dropdown-menu">
                        <div class="dropdown-arrow"></div>
                        <div class="dropdown-header">
                            <div class="admin-avatar">
                                <img src="./assets/img/users/admin-image.png" alt="image" />
                            </div>
                            <div>
                                <h5 class="font-strong text-white">Super User</h5>
                                <div>
                                    <span class="admin-badge mr-3"><i class="ti-alarm-clock mr-2"></i>30m.</span>
                                    <span class="admin-badge"><i class="ti-lock mr-2"></i>Safe Mode</span>
                                </div>
                            </div>
                        </div>
                        <div class="admin-menu-features">
                            <a class="admin-features-item" href="javascript:;"><i class="ti-user"></i>
                                <span>PROFILE</span>
                            </a>
                            <a class="admin-features-item" href="javascript:;"><i class="ti-support"></i>
                                <span>SUPPORT</span>
                            </a>
                            <a class="admin-features-item" href="javascript:;"><i class="ti-settings"></i>
                                <span>SETTINGS</span>
                            </a>
                        </div>
                        <div class="admin-menu-content">
                            <div class="text-muted mb-2">Your Wallet</div>
                            <div><i class="ti-wallet h1 mr-3 text-light"></i>
                                <span class="h1 text-success"><sup>$</sup>12.7k</span>
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <a class="text-muted" href="javascript:;">Earnings history</a>
                                <a class="d-flex align-items-center" href="javascript:;">Logout<i class="ti-shift-right ml-2 font-20"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link quick-sidebar-toggler">
                        <span class="ti-align-right"></span>
                    </a>
                </li>
            </ul>
            <!-- END TOP-RIGHT TOOLBAR-->
            <!-- START SEARCH PANEL-->
        </div>
    </div>
</div>
<div class="top-navbar">
    <div class="wrapper" id="navbar-wrapper">
        <ul class="nav-menu">
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Dashboards
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/index" routerLinkActive="active">Visitors</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/dashboard" routerLinkActive="active">Shop</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard_blog" routerLinkActive="active">Blog</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard_4" routerLinkActive="active">Dashboard v4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard_5" routerLinkActive="active">Dashboard v5</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard_6" routerLinkActive="active">Dashboard v6</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/dashboard_7" routerLinkActive="active">Dashboard v7</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Basic UI
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/ui/colors" routerLinkActive="active">Colors</a>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;">Buttons</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/buttons/buttons-default" routerLinkActive="active">Default style</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/buttons-rounded" routerLinkActive="active">Rounded style</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/buttons-square" routerLinkActive="active">Square style</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/buttons-air" routerLinkActive="active">Air style</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/button-icon" routerLinkActive="active">Button Icon</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/button-labeled" routerLinkActive="active">Labeled buttons</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/button-animated" routerLinkActive="active">Animated buttons</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/buttons-fab" routerLinkActive="active">FAB buttons</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/button-groups" routerLinkActive="active">Button Groups</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/button-dropdowns" routerLinkActive="active">Button dropdowns</a>
                            </li>
                            <li>
                                <a routerLink="/buttons/buttons-social" routerLinkActive="active">Social Buttons</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/typography" routerLinkActive="active">Typography</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/panels" routerLinkActive="active">Panels</a>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;">Tabs</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/ui/tabs-pill" routerLinkActive="active">Pills</a>
                            </li>
                            <li>
                                <a routerLink="/ui/tabs-line" routerLinkActive="active">Line tabs</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/alerts" routerLinkActive="active">Alerts</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/toastr" routerLinkActive="active">Toastr Notifications</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/tooltip_popover" routerLinkActive="active">Tooltip &amp; Popover</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/badges_progress" routerLinkActive="active">Badges &amp; Progress</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/lists" routerLinkActive="active">List</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/idle-timer" routerLinkActive="active">Idle timer</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ui/clipboard" routerLinkActive="active">Clipboard</a>
                    </li>                    
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Pages
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-user"></i>User Pages</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/profile" routerLinkActive="active">Profile</a>
                            </li>
                            <li>
                                <a routerLink="/login" routerLinkActive="active">Login v1</a>
                            </li>
                            <li>
                                <a routerLink="/login-2" routerLinkActive="active">Login v2</a>
                            </li>
                            <li>
                                <a routerLink="/login-3" routerLinkActive="active">Login v3</a>
                            </li>
                            <li>
                                <a routerLink="/login-4" routerLinkActive="active">Login v4</a>
                            </li>
                            <li>
                                <a routerLink="/login-5" routerLinkActive="active">Login v5</a>
                            </li>
                            <li>
                                <a routerLink="/lockscreen" routerLinkActive="active">Lockscreen</a>
                            </li>
                            <li>
                                <a routerLink="/forgot_password" routerLinkActive="active">Forgot password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-info-alt"></i>Error Pages</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/error_404" routerLinkActive="active">404 error</a>
                            </li>
                            <li>
                                <a routerLink="/error_404-2" routerLinkActive="active">404 error v2</a>
                            </li>
                            <li>
                                <a routerLink="/error_403" routerLinkActive="active">403 error</a>
                            </li>
                            <li>
                                <a routerLink="/error_500" routerLinkActive="active">500 error</a>
                            </li>
                            <li>
                                <a routerLink="/maintenance" routerLinkActive="active">Maintenance Mode</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/faq" routerLinkActive="active">FAQ</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/search" routerLinkActive="active">Search</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/blog/blog_list" routerLinkActive="active">Blog List</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/blog/article" routerLinkActive="active">Article</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-1" routerLinkActive="active">Pricing Table v1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-2" routerLinkActive="active">Pricing Table v2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-3" routerLinkActive="active">Pricing Table v3</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-4" routerLinkActive="active">Pricing Table v4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-5" routerLinkActive="active">Pricing Table v5</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/pricing-table-6" routerLinkActive="active">Pricing Table v6</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/timeline" routerLinkActive="active">Timeline</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">E-Commerce
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/dashboard" routerLinkActive="active">Dashboard</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/products_list" routerLinkActive="active">Products list</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/add_product" routerLinkActive="active">Add new product</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/orders_list" routerLinkActive="active">Orders list</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/order_details" routerLinkActive="active">Order details</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/invoice" routerLinkActive="active">Invoice</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/ecommerce/customers" routerLinkActive="active">Customers</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">Apps
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/mailbox" routerLinkActive="active"><i class="navbar-item-icon ti-email"></i>Mailbox</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/calendar" routerLinkActive="active"><i class="navbar-item-icon ti-calendar"></i>Calendar</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" routerLinkActive="active">
                <a class="dropdown-toggle" href="href=&quot;javascript:;" data-toggle="dropdown">More
                    <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" routerLink="/ui/icons" routerLinkActive="active"><i class="navbar-item-icon ti-comments-smiley"></i>Icons</a>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-layers-alt"></i>Widgets</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/widgets/statistics" routerLinkActive="active">Statistics Widgets</a>
                            </li>
                            <li>
                                <a routerLink="/widgets/list" routerLinkActive="active">App &amp; List Widgets</a>
                            </li>
                            <li>
                                <a routerLink="/widgets/user" routerLinkActive="active">User Widgets</a>
                            </li>
                            <li>
                                <a routerLink="/widgets/blog" routerLinkActive="active">Blog Widgets</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-check-box"></i>Forms</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/forms/form-controls/inputs" routerLinkActive="active">Inputs</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form-controls/switch" routerLinkActive="active">Switch</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form-controls/checkbox-radio" routerLinkActive="active">Checkbox &amp; Radio</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form-controls/input-groups" routerLinkActive="active">Input Groups</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form_layouts" routerLinkActive="active">Form Layouts</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form_advanced" routerLinkActive="active">Advanced Plugins</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form_masks" routerLinkActive="active">Form input masks</a>
                            </li>
                            <li>
                                <a routerLink="/forms/form_validation" routerLinkActive="active">Form Validation</a>
                            </li>
                            <li>
                                <a routerLink="/forms/text_editors" routerLinkActive="active">Text Editors</a>
                            </li>
                            <li>
                                <a routerLink="/forms/autocomplete" routerLinkActive="active">Autocomplete</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-layout-tab-window"></i>Tables</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/tables/basic" routerLinkActive="active">Basic Tables</a>
                            </li>
                            <li>
                                <a routerLink="/tables/datatables" routerLinkActive="active">Datatables</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a class="has-tip dropdown-item" routerLinkActive="active" href="href=&quot;javascript:;"><i class="navbar-item-icon ti-bar-chart"></i>Charts</a>
                        <ul class="submenu">
                            <li>
                                <a routerLink="/charts/charts_morris" routerLinkActive="active">Morris Charts</a>
                            </li>
                            <li>
                                <a routerLink="/charts/chartjs" routerLinkActive="active">Chart.js</a>
                            </li>
                            <li>
                                <a routerLink="/charts/charts_peity" routerLinkActive="active">Peity Charts</a>
                            </li>
                            <li>
                                <a routerLink="/charts/charts_sparkline" routerLinkActive="active">Sparkline Charts</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/maps_vector" routerLinkActive="active"><i class="navbar-item-icon ti-map-alt"></i>Vector maps</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
